# ================================
# DATASET (VERY IMPORTANT)
# ================================
data/

# ================================
# VIRTUAL ENVIRONMENT
# ================================
signlangenv/
venv/
env/
.venv/

# ================================
# PYTHON CACHE
# ================================
__pycache__/
*.py[cod]

# ================================
# OS FILES (macOS)
# ================================
.DS_Store

# ================================
# IDE / EDITOR
# ================================
.vscode/
.idea/

# ================================
# ENV FILES
# ================================
.env

# ================================
# LOGS
# ================================
*.log
